body {
    margin: 0;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav a {
  color: #F9FAF8;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
    text-decoration: underline;
  }

#logo-header {
    height: 100px;
    width: auto;
}

.hero-container {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap: 90px;
   
}

.hero-container h1 {
    color: #F9FAF8;
    font-size: 40px;
    font-weight: extra-bold;
}

.hero-container p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

article {
    max-width: 500px;
}

.heropic {
    min-width: 200px;
    max-width: 500px;
    border-radius: 50px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.info-container {
    background-color: #F9FAF8;
    text-align: center;
}

.info-container h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
    padding: 25px;
}

.info-figures {
    display: flex;
    justify-content: center;
}

.info-figures img {
    max-width: 200px;
    border-radius: 50px;
}

.info-figures figcaption {
    max-width: 200px;
    padding: 20px 0;
    font-style: italic;
}

.quote-container {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container p {
    min-width: 300px;
    max-width: 800px;
    text-align: center;
    padding: 50px;
    line-height: 1.5;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

.last-container {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.blue-box {
    background-color: #3882F6;
    border-radius: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    min-width: 800px;
    gap: 100px;
    font-weight: 100;
   
}

.blue-box button {
    border: 2px solid white;
}

.blue-box h2 {
    margin-bottom: -10px;
}

footer {
    display: flex;
    color: white;
    font-weight: lighter;
    font-size: .75em;
    justify-content: center;
    align-items: center;
    padding: 5px;

}